/* variables */
/* Palette Component */
.colorBox {
  float: right;
  border-radius: 15px 50px 30px 5px;
  width: 100px;
  height: 100px;
  margin: 15px;
  border: 1px solid #FFF;
}
.butter {
  background: #FEDC3D;
}
.black {
  background: #000000;
}
.azure {
  background: #01ABAA;
}
.peach {
  background: #FEA680;
}
#grad {
  background: red;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, rgba(47, 79, 79, 0), #778899);
  /*Safari 5.1-6*/
  background: -o-linear-gradient(right, rgba(47, 79, 79, 0), #778899);
  /*Opera 11.1-12*/
  background: -moz-linear-gradient(right, rgba(47, 79, 79, 0), #778899);
  /*Fx 3.6-15*/
  background: linear-gradient(to right, rgba(47, 79, 79, 0), #778899);
  /*Standard*/
}
