/* The global variables */

/* colors */
@butter:                 #FEDC3D;
@black:                  #000000;
@azure:                  #01ABAA;
@peach:                  #FEA680;

@color-lightsalmon:      #FCA683;
@color-lightseagreen:    #1CAAA9;
@color-grey92:           #EBEBEB;
@color-san-juan-navy:    #305B79;
@color-gallery-light:    #EEEEEE;
@color-atomic-tangerine: #FFA16E;
@color-orange:           #FF5F26;
@color-bermuda-sea:      #89DCD3;

/* fonts */
@major-font: 'Abril Fatface', cursive;
@minor-font: 'PT Sans', sans-serif;

@hard_margin_left: 12%;
@hard_margin_right: 1.5%;

/* mixins */
/*
@mixin center-align($position: relative) {
  position: $position;
  top: 50%;
  left: 50%;
  -webkit-transform: perspective(1px) translate(-50%,-50%);
  -ms-transform: perspective(1px) translate(-50%,-50%);
  transform: perspective(1px) translate(-50%,-50%);
}
*/

.center {
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
}